@using PagedList;
@using PagedList.Mvc;

@model IPagedList<News_MVC.Models.Articles>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Featured News</h2>
    <table class="table">

        
        @{
            var l1 = Model.Where(s => s.ToHomePage == true && (s.ToArchive == false) && (s.Priority > 0)).OrderBy(s => s.Priority).ToList();
            var l2 = Model.Where(s => s.ToHomePage == true && (s.ToArchive == false) && (s.Priority == null)).OrderByDescending(s => s.CreationDate).ToList();
            var l3 = l1.Union(l2);

            var xxx = Model.Where(s => s.ToHomePage == true && (s.ToArchive == false) && (s.Priority <= 0)).OrderByDescending(s => s.Priority).ToList();
        
        }
        @foreach (var item in xxx)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ImgURL)*@
                    <img src="@item.ImgURL" style="max-width: 150px; height: auto; " />

                </td>
                
                <td>
                    <div style="width: auto; height: auto; overflow-y:auto">
                        <h2>  @Html.DisplayFor(modelItem => item.ArticleName) </h2>
                    </div>

                    <div style="width: auto; height: auto; overflow-y: auto;">

                        @Html.DisplayFor(modelItem => item.Summary)
                    </div>

                    @Html.ActionLink("read more...", "ArticleContent", "Articles", new { id = item.ArticleID }, null)

            </tr>
        }

    </table>




</div>

<div>



    @{
        ViewBag.Title = "Articles";
    }

    <h2>Articles</h2>

    <table class="table">

        @foreach (var item in l3)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ImgURL)*@
                    <img src="@item.ImgURL" style="max-width: 150px; height: auto; " />

                </td>

                <td>
                    <div style="width: auto; height: auto; overflow-y:auto">
                        <h4>  @Html.DisplayFor(modelItem => item.ArticleName) </h4>
                    </div>

                    <div style="width: auto; height: auto; overflow-y: auto;">

                        @Html.DisplayFor(modelItem => item.Summary)
                    </div>

                    @Html.ActionLink("read more...", "ArticleContent","Articles", new { id = item.ArticleID },null)

            </tr>
        }

    </table>


    @Html.PagedListPager(Model, page => Url.Action("ArticleList", new { page }))

    <div>
        @*<h4>Tags</h4>
            @foreach (var item in ViewData["Tags"]
                           as List<News_MVC.Models.Tags>)
            {

                   @Html.ActionLink(item.TagName, "TagArticleList", "ArticleTags", new { id = item.TagID }, null)
                <br/>


            }*@

        @Html.Partial("_TagsList", ViewData["Tags"])
    </div>



</div>


@*<div class="row">
    <div class="col-md-4">
        <h2>Placeholder 1</h2>
        <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text </p>
        <p><a class="btn btn-default" href="http://">Btn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder 2</h2>
        <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text </p>
        <p><a class="btn btn-default" href="http://">Btn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder 3</h2>
        <p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text </p>
        <p><a class="btn btn-default" href="http://">Btn &raquo;</a></p>
    </div>
</div>*@