@using PagedList;
@using PagedList.Mvc;


@*@model IEnumerable<News_MVC.Models.Articles>*@

@model IPagedList<News_MVC.Models.Articles>

@{
    ViewBag.Title = "Archive";
}

<h2>Archived Articles</h2>

@*<table class="table">


@foreach (var item in Model)
{
    <tr>
        
        <td>
           
            @Html.ActionLink(item.ArticleName, "ArticleContent", new { id = item.ArticleID })
        </td>
    </tr>
}

</table>*@

<table class="table">

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.ImgURL" style="max-width: 150px; height: auto; " />
            </td>

            <td>
                <div style="width: auto; height: auto; overflow-y:auto">
                    <h4>  @Html.DisplayFor(modelItem => item.ArticleName) </h4>
                </div>

                <div style="width: auto; height: auto; overflow-y: auto;">

                    @Html.DisplayFor(modelItem => item.Summary)
                </div>

                @Html.ActionLink("read more...", "ArticleContent", "Articles", new { id = item.ArticleID }, null)
        </tr>
    }*@

    @foreach (var item in Model)
    {

        <tr>
            <td>
                <div>
                    <div class="col-md-2">

                        <img src="@item.ImgURL" style="max-width: 150px; height: auto; " />
                    </div>

                    <div class="col-md-10">
                        <div style="width: auto; height: auto; overflow-y:auto">
                            <h4>  @Html.DisplayFor(modelItem => item.ArticleName) </h4>
                        </div>

                        <div style="width: auto; height: auto; overflow-y: auto;">

                            @Html.DisplayFor(modelItem => item.Summary)
                        </div>

                        @Html.ActionLink("read more...", "ArticleContent", "Articles", new { id = item.ArticleID }, null)
                    </div>

                </div>

            </td>
        </tr>
    }

</table>



@Html.PagedListPager(Model, page => Url.Action("ArchiveList", new { page}))

<div>
    @Html.Partial("_TagsList", ViewData["Tags"])
</div>
