@model News_MVC.Models.Articles

@*
    @{
        ViewBag.Title = "Details";
    }
*@

    @*@Html.Raw(Model.ArticleContent)*@


<div>
   <h2> @Html.DisplayFor(model => model.ArticleName)</h2>

</div>

<div>

    @*Html.DisplayFor(model => model.ArticleContent)*@
    @Html.Raw(Model.ArticleContent)

</div>

<div>

    <hr />
    <dl class="dl-horizontal">
               
        <dt>
            @*@Html.DisplayNameFor(model => model.CreationDate)*@
            Created
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
           @* @Html.DisplayNameFor(model => model.DateModitied)*@
            Last Modified
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModitied)
        </dd>       
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Back to List", "ArticleList")*@

    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })

</p>

<br />

<div>

    @Html.Partial("_TagsList", ViewData["Tags"])
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'sparkam';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>