@model IEnumerable<News_MVC.Models.Articles>


<table class="table">

    @*<br />*@

    @*@foreach (var item in Model)
    {


    <tr>
        <td>

            <img src="@item.ImgURL" style="max-width: 150px; height: auto; " />

        </td>

        <td>
            <div style="width: auto; height: auto; overflow-y:auto">
                <h2>  @Html.DisplayFor(modelItem => item.ArticleName) </h2>
            </div>

            <div style="width: auto; height: auto; overflow-y: auto;">

                @Html.DisplayFor(modelItem => item.Summary)
            </div>

            @Html.ActionLink("read more...", "ArticleContent", "Articles", new { id = item.ArticleID }, null)

    </tr>

    }*@


    @foreach (var item in Model)
    {

        <tr>
            <td>
                <div>
                    <div class="col-md-4">

                        <img src="@item.ImgURL" style="max-width: 250px; height: auto; " />
                    </div>

                    <div class="col-md-8">
                        <div style="width: auto; height: auto; overflow-y:auto">
                            <h2>  @Html.DisplayFor(modelItem => item.ArticleName) </h2>
                        </div>

                        <div style="width: auto; height: auto; overflow-y: auto;">

                            @Html.DisplayFor(modelItem => item.Summary)
                        </div>

                        @Html.ActionLink("read more...", "ArticleContent", "Articles", new { id = item.ArticleID }, null)
                    </div>

                </div>

            </td>
        </tr>
    }

</table>

