
@{
    ViewBag.Title = "Management";
}

<h2>Management</h2>

@*<li>
    @Html.ActionLink("Change your account settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</li>*@
<br/>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    @*<li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>*@
    <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
}

<br />
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Manage Articles", "Index_", "Articles")</li>
}
@if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Editor")))
{
    <li>@Html.ActionLink("Manage Tags", "Index", "Tags")</li>
    <li>@Html.ActionLink("Tag Articles", "Index", "ArticleTags")</li>
}
